{% extends "pages_service/header_footer.html" %} {% load static %} {% block title %}Dịch vụ{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/service_order.css' %}"> {% endblock %} {% block content %}
<div class="d-flex flex-column justify-content-center w-100 h-100">
    <div id="content-service-order">
        <div id="info-list-product">
            <h2>Thông tin hóa đơn</h2>
            <table>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Tạm tính</th>
                </tr>
                <tr>
                    <td><img src="{% static 'img/kinh-nghiem-mo-cua-hang-sua-chua-xe-may-tiet-kiem-von-1.jpg' %}" alt=""></td>
                    <td>Dịch vụ vá xe / Xe máy</td>
                    <td><i>60000</i>đ</td>
                    <td><i>1</i></td>
                    <td><i>60000</i>đ</td>
                </tr>
            </table>
            <h3>Tổng giỏ hàng</h3>
            <table id="cost-all-product">
                <tr>
                    <td>Tổng dịch vụ</td>
                    <td>1 dịch vụ</td>
                </tr>
                <tr>
                    <td>Tạm tính</td>
                    <td><i>60000</i>đ</td>
                </tr>
            </table>
            <div id="total-all-product">
                <h3>Tổng: </h3>
                <p><i>60000</i>đ</p>
                <div class="clear"></div>
            </div>
        </div>
        <div id="info-order">
            <form action="service_check_info">
                <h2>Thông tin đơn hàng</h2>
                <div class="two-col">
                    <div>
                        <p>Họ:</p> <input type="text" required="Họ không được để trống"> </div>
                    <div>
                        <p>Tên:</p> <input type="text" name="" id="" required="Tên không được để trống"></div>
                    <div>
                        <p>Quốc gia:</p> <input type="text"></div>
                    <div>
                        <p>Thành phố:</p> <input type="text"></div>
                </div>
                <div class="one-col">
                    <div>
                        <p>Địa chỉ:</p> <input type="text" required="Địa chỉ không được để trống"> </div>
                </div>
                <div class="two-col">
                    <div>
                        <p>Mã bưu điện:</p> <input type="text"> </div>
                    <div>
                        <p>SDT:</p> <input type="text" name="" id="" required="Số điện thoại không được để trống"></div>
                </div>
                <div class="one-col">
                    <div>
                        <p>Email:</p> <input type="email" require="Vui lòng nhập Email đúng"> </div>
                </div>
                <div class="one-col">
                    <div>
                        <input class="check" type="checkbox">Tạo tài khoản mới </div>
                </div>

                <p style="padding-left: 14%;">Chọn hình thức thanh toán</p>
                <div class="one-col">
                    <div>
                        <input class="check" type="checkbox">Thanh toán bằng ví GONGFIX </div>
                    <div>
                        <input class="check" type="checkbox">Thanh toán bằng ví MOMO</div>

                </div>
                <div class="one-col">
                    <div>
                        <p>Số tài khoản:</p> <input type="text"> </div>
                </div>
                <div class="one-col">
                    <div>
                        <p>Tên chủ tài khoản:</p> <input type="text"> </div>
                </div>
                <div class="one-col">
                    <div>
                        <input class="check" type="checkbox">Thanh toán tài khoản ngân hàng </div>
                </div>
                <div class="one-col">
                    <div>
                        <p>Số tài khoản:</p> <input type="text"> </div>
                </div>
                <div class="two-col">
                    <div>
                        <p>Tên chủ tài khoản:</p> <input type="text"> </div>
                    <div>
                        <p>Ngân hàng:</p> <input type="text" name="" id=""></div>
                </div>
                <div class="one-col">
                    <div>
                        <input class="check" type="checkbox">Thanh toán cho nhân viên sửa chữa</div>
                </div>
                <div class="one-col">
                    <div>
                        <input class="check" type="checkbox">Cho phép Gongfix định vị bạn</div>
                </div>
                <select style="    margin-left: 70%;" name="cars" id="choose-position-shop">
                    <option value="volvo">Cửa hàng gần nhất</option>
                    <option value="saab">Cửa hàng có đánh giá tốt nhất</option>
                    <option value="mercedes">Tự lựa chọn cửa hàng</option>
                  </select>
                <div class="one-col">
                    <div>
                        <p>Địa chỉ cửa hàng bạn lựa chọn:</p> <input type="text"> </div>
                </div>
                <iframe style="    width: 90%;margin: 5%;" id="map_position_shop" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.061404741265!2d106.70734801489219!3d10.806609092301011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528bd032925f5%3A0x6dfe460d8a52fb78!2zODIsIDQ0IMSQaW5oIELhu5kgTMSpbmgsIFBoxrDhu51uZyAyNiwgQsOsbmggVGjhuqFuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1635246695598!5m2!1sen!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <input type="submit" id="btn-order" value="Đặt hàng">
            </form>
        </div>
    </div>
</div>
{% endblock %}