<html>
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="csrf_token" content="{{ csrf_token }}">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'themify-icons/themify-icons.css' %}">

        
        {% block css %}
        
        {% endblock %}
    </head>
    <body>
        <!-- header -->
        <div id="main_header">
            <div id="left-main_header">
                <div id="main_icon_header">
                    <img src="{% static 'img/LOGO-removebg-preview.png' %}" alt="">
                </div>
                <div id="menu_main_header">
                    <ul>
                        <li>
                            <a href="">
                                <div>HOME</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>ABOUT US</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>DỊCH VỤ</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>SỰ KIỆN</div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>ĐỐI TÁC</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="clear"></div>
            </div>
            <div id="right-main_header">
                <div id="button_main_header">
                    <button class="snip1582">Đăng ký</button>
                    <button class="snip1582">Đăng nhập</button>
                </div>
                <div id="cart_main_header"><i class="ti-shopping-cart"></i><span>0</span></div>
            </div>
            <div class="clear"></div>
        </div>

        <!-- content -->
        {% block content %}
        {% endblock %}

        <!-- footer -->
        <div id="footer">
            <div id="infomation">
            <h4>Gongfix</h4>
            <p>Hệ thống sửa chữa xe lưu động hàng đầu Việt Nam</p>
            <ul>
                <li>Địa chỉ: khu phố 6, phường Linh Trung, Thủ Đức</li>
                <li>SĐT: 037908947</li>
                <li>Email: gongfix@gmail.com</li>
            </ul>
            </div>
            <div id="contact">
            <h4 style="text-align: center; margin-bottom: 75px;">Liên hệ ngay với chúng tôi</h4>
            <ul>
                <li><img src="{% static 'img/5a10bd6c677c114d55fa4c4292bdf17a.png' %}" alt=""></li>
                <li><img src="{% static 'img/916dc9c9c06166d747a2d3b46161a543.png' %}" alt=""></li>
                <li><img src="{% static 'img/ef95f2b10fd4612609c34d67d8bcbdd8.jfif' %}" alt=""></li>
            </ul>
            </div>
            <div id="map">
                <img src="{% static 'img/bce6e8b98f7dd0437d1b2d8b909273b9.jfif' %}" alt="" style="width: 100%; height:150px">
            </div>
        </div>
        <div id="up-page">Quay lại đầu trang</div>

        {% block js %}
        {% endblock %}
    </body>
</html>