{% extends "pages_home/header_footer.html" %}
{% load static %}
{% block title %}Đối tác{% endblock %}

{% block css %}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style-responsive.css' %}" rel="stylesheet"/>
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'css/font.css' %}" type="text/css"/>
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'css/morris.css' %}" type="text/css"/>
<!-- calendar -->
<link rel="stylesheet" href="{% static 'css/monthly.css' %}">
<!-- //calendar -->
<!-- //font-awesome icons -->
<script src="{% static 'js/jquery2.0.3.min.js' %}"></script>
<script src="{% static 'js/raphael-min.js' %}"></script>
<script src="{% static 'js/morris.js' %}"></script>

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/materialize-stepper@3.1.0/dist/css/mstepper.min.css">

<!-- stepper -->
<!-- Stepper CSS -->
<link href="{% static 'stepper/mstepper.css' %}" rel="stylesheet">
<!-- Stepper CSS - minified-->
<link href="{% static 'stepper/mstepper.min.css' %}" rel="stylesheet">

<!-- Materializecss compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/materialize-stepper@2.1.4/materialize-stepper.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Materializecss compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<!-- jQueryValidation Plugin -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

<!-- select 2 -->
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
<script src="{% static 'js/select2.min.js' %}"></script>
{% endblock %}

{% block content %}
<h2 class="heading-partner">Đối tác của GongFix</h2>
<ul class="nav nav-tabs justify-content-center">
	<li class="active"><a data-toggle="tab" href="#home">ĐĂNG NHẬP</a></li>
	<li><a data-toggle="tab" href="#menu1">ĐĂNG KÝ</a></li>
</ul>
  
<div class="tab-content">
	<div id="home" class="tab-pane fade in active">
        <div class="form-w3layouts">
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <div class="panel-body">
                            <form role="form" class="form-horizontal ">
                                <div class="form-group has-success">
                                    <label class="col-lg-3 control-label">sample 1</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="" class="form-control">
                                        <p class="help-block">Successfully done</p>
                                    </div>
                                </div>
                                <div class="form-group has-error">
                                    <label class="col-lg-3 control-label">sample 2</label>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="" id="l-name" class="form-control">
                                        <p class="help-block">You gave a wrong info</p>
                                    </div>
                                </div>
                                <div class="form-group has-warning">
                                    <label class="col-lg-3 control-label">sample 3</label>
                                    <div class="col-lg-6">
                                        <input type="email" placeholder="" id="email2" class="form-control">
                                        <p class="help-block">Something went wrong</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button class="btn btn-primary btn-partner btn-partner0" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
	</div>

	<div id="menu1" class="tab-pane fade">
        <div class="form-w3layouts">

            <div class="panel-body">
  
                <div class="stepwizard col-md-offset-3">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a href="#step-1" type="button" class="btn btn-primary">1</a>
                            <p>Thông tin cá nhân</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-2" type="button" class="btn btn-default disabled-a">2</a>
                            <p>Xác thực cá nhân</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-3" type="button" class="btn btn-default disabled-a">3</a>
                            <p>Thông tin cửa hàng</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-4" type="button" class="btn btn-default disabled-a">4</a>
                            <p>Thông tin ngân hàng</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-5" type="button" class="btn btn-default disabled-a">5</a>
                            <p>Thông tin tài khoản</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-6" type="button" class="btn btn-default disabled-a">6</a>
                            <p>Kết thúc</p>
                        </div>
                    </div>
                </div>
                
                <form role="form" action="" method="post">
                    <div class="row setup-content" id="step-1">
                        <div class="col-xs-6 col-md-offset-3">
                            <div class="col-md-12">
                                <h3>Thông tin cá nhân</h3>
                                <div class="form-group">
                                    <label class="control-label">Họ và chữ lót *</label>
                                    <input maxlength="100" type="text" required="required" class="form-control signup-firstname"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tên *</label>
                                    <input maxlength="100" type="text" required="required" class="form-control signup-lastname"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Giới tính: </label>
                                    <input type="radio" name="signup-sex" id="nam" value="nam" checked="checked"><label class="lable-checkbox" for="nam">Nam</label>
                                    <input type="radio" name="signup-sex" id="nu" value="nam" checked="checked"><label class="lable-checkbox" for="nu">Nữ</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email *</label>
                                    <input maxlength="100" type="text" required="required" class="form-control signup-email"/>
                                    <p class="warning-email help-block-signup">Email không hợp lệ</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Số điện thoại 1 *</label>
                                    <input maxlength="100" type="text" required="required" class="form-control signup-phone1"/>
                                    <p class="warning-phone1 help-block-signup">Số điện thoại không hợp lệ</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Số điện thoại 2</label>
                                    <input maxlength="100" type="text" class="form-control signup-phone2"/>
                                    <p class="warning-phone2 help-block-signup">Số điện thoại không hợp lệ</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ảnh hồ sơ</label>
                                    <input type="file" class="form-control signup-avatar" accept="image/png, image/gif, image/jpeg" accept="image/png, image/gif, image/jpeg">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Nguồn tuyển dụng</label>
                                    <select class="form-control m-bot15 signup-recruitment-source">
                                        <option>Facebook</option>
                                        <option>Google</option>
                                        <option>Tiktok</option>
                                        <option>Youtube</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-2">
                        <div class="col-xs-6 col-md-offset-3">
                            <div class="col-md-12">
                            <h3>Xác thực cá nhân</h3>
                            <div class="form-group">
                                <label class="control-label">Số CMND/CCCD</label>
                                <input maxlength="200" type="text" required="required" class="form-control signup-cmnd-number" placeholder="Enter Company Name" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ngày cấp</label>
                                <input maxlength="200" type="text" id="datepicker" required="required" class="form-control  signup-cmnd-date-issue" placeholder="Enter Company Address"  />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Nơi cấp</label>
                                <input maxlength="200" type="text" required="required" class="form-control signup-cmnd-place-issue" placeholder="Enter Company Name" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Địa chỉ CMND</label>
                                <input maxlength="200" type="text" required="required" class="form-control signup-cmnd-address" placeholder="Enter Company Address"  />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ngày sinh</label>
                                <input maxlength="200" type="text" id="datepicker2" required="required" class="form-control signup-cmnd-birthday" placeholder="Enter Company Address"  />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ảnh mặt trước</label>
                                <input maxlength="200" type="file" id="datepicker2" class="form-control signup-cmnd-pic-front" accept="image/png, image/gif, image/jpeg" required/>
                                <p class="warning-pic-cmnd-1 help-block-signup1">Chưa chọn ảnh</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ảnh mặt sau</label>
                                <input maxlength="200" type="file" id="datepicker2" class="form-control signup-cmnd-pic-back" accept="image/png, image/gif, image/jpeg" required/>
                                <p class="warning-pic-cmnd-2 help-block-signup1">Chưa chọn ảnh</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Giấy xác nhận công an</label>
                                <input maxlength="200" type="file" id="datepicker2" class="form-control signup-cmnd-certification" required/>
                                <p class="warning-signup-cmnd-certification help-block-signup1">Chưa chọn file xác nhận</p>
                            </div>
                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-3">
                        <div class="col-xs-6 col-md-offset-3">
                            <div class="col-md-12">
                            <h3>Thông tin cửa hàng</h3>
                            <div class="form-group">
                                <label class="control-label">Tên cửa hàng</label>
                                <input maxlength="200" type="text" required="required" class="form-control signup-store-name" placeholder="Enter Company Name" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Quốc gia</label>
                                <select class="form-control m-bot15 select2 select2-hidden-accessible area signup-store-nation" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option value="" selected disabled hidden>Chọn Quốc Gia</option> 
                                    <option value="vietnam">Việt Nam</option>
                                    <option value="trungquoc">Trung Quốc</option>
                                    <option value="my">Mỹ</option>
                                    <option value="lao">Lào</option>
                                </select>
                                <p class="warning-signup-store-nation help-block-signup">Chưa chọn đầy đủ thông tin</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Tỉnh/Thành</label>
                                <select class="form-control m-bot15 select2 select2-hidden-accessible area signup-store-province" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option value="" selected disabled hidden>Chọn Tỉnh/Thành</option> 
                                </select>
                                <p class="warning-signup-store-province help-block-signup">Chưa chọn đầy đủ thông tin</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Quận/Huyện</label>
                                <select class="form-control m-bot15 select2 select2-hidden-accessible area signup-store-district" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option value="" selected disabled hidden>Chọn Quận/Huyện</option> 
                                </select>
                                <p class="warning-signup-store-district help-block-signup">Chưa chọn đầy đủ thông tin</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Xã/Phường/Thị trấn</label>
                                <select class="form-control m-bot15 select2 select2-hidden-accessible area signup-store-wards" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option value="" selected disabled hidden>Chọn Xã/Phường/Thị trấn</option> 
                                </select>
                                <p class="warning-signup-store-wards help-block-signup">Chưa chọn đầy đủ thông tin</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Địa chỉ</label>
                                <input maxlength="200" type="text" id="datepicker2" required="required" class="form-control signup-store-address" placeholder="Enter Company Address"  />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ảnh cửa hàng</label>
                                <input maxlength="200" type="file" id="datepicker2" required="required" class="form-control signup-cmnd-certification" placeholder="Enter Company Address" accept="image/png, image/gif, image/jpeg" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Loại phương tiện cung cấp</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Xe đạp</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">Xe máy</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                    <label class="form-check-label" for="inlineCheckbox3">Xe hơi</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input signup-store-vehicle3" type="checkbox" id="inlineCheckbox4" value="option4">
                                    <label class="form-check-label" for="inlineCheckbox4">Xe kéo</label>
                                </div>
                                <p class="warning-signup-store-vehicle help-block-signup">Chưa chọn loại phương tiện cung cấp</p>

                            </div>
                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="row setup-content" id="step-4">
                        <div class="col-xs-6 col-md-offset-3">
                            <div class="col-md-12">
                            <h3>Thông tin ngân hàng</h3>
                            <div class="form-group">
                                <label class="control-label">Tên ngân hàng</label>
                                <input maxlength="200" type="text" required="required" class="form-control signup-store-name" placeholder="Enter Company Name" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Số tài khoản</label>
                                <input maxlength="200" type="text" id="datepicker2" required="required" class="form-control signup-bank-number" placeholder="Enter Company Address"  />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Tên chủ thẻ</label>
                                <input maxlength="200" type="text" id="datepicker2" required="required" class="form-control signup-bank-name" placeholder="Enter Company Address"  />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Chi nhánh</label>
                                <input maxlength="200" type="text" id="datepicker2" required="required" class="form-control signup-bank-branch" placeholder="Enter Company Address"  />
                            </div>
                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row setup-content" id="step-5">
                        <div class="col-xs-6 col-md-offset-3">
                            <div class="col-md-12">
                            <h3>Thông tin tài khoản</h3>
                            <div class="form-group">
                                <label class="control-label">Tên đăng nhập</label>
                                <input maxlength="200" type="text" required="required" class="form-control signup-account-username" placeholder="Enter Company Name" />
                            </div>
                            <div class="form-group">
                                <label class="control-labeMật khẩu">Mật khẩu</label>
                                <input maxlength="200" type="text" id="datepicker2" required="required" class="form-control signup-account-password" placeholder="Enter Company Address"  />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Nhập lại mật khẩu</label>
                                <input maxlength="200" type="text" id="datepicker2" required="required" class="form-control signup-account-repassword" placeholder="Enter Company Address"  />
                            </div>
                            
                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Submit</button>
                            </div>
                        </div>
                    </div>

                    <div class="row setup-content" id="step-6">
                        <div class="col-xs-6 col-md-offset-3">
                            <div class="col-md-12">
                                <div class="alert alert-danger clearfix">
                                    <div class="noti-info">
                                        <span>Đăng kí đối tác thành công. Đăng nhập vào tài khoản đã tạo và chờ xác nhận nhé!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>

  

{% endblock %}

{% block js %}
<script>
    $(".signup-store-nation").change(function() {
        $(".signup-store-province option").remove();
        $(".signup-store-province").append("<option value='' selected disabled hidden>Chọn Tỉnh/Thành</option> ");
        $(".signup-store-district option").remove();
        $(".signup-store-district").append("<option value='' selected disabled hidden>Chọn Quận/Huyện</option> ");
        $(".signup-store-wards option").remove();
        $(".signup-store-wards").append("<option value='' selected disabled hidden>Chọn Xã/Phường/Thị trấn</option> ");
        if($(this).val() == "vietnam") {
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'postProvinces' %}",
                data: {"csrfmiddlewaretoken": '{{csrf_token}}', 'type' : "1", 'data' : ''},
                success: function (response) {
                    var response = jQuery.parseJSON( response );
                    $.each( response, function( key, value ) {
                        $(".signup-store-province").append("<option value='" + value.pk + "'>"+value.fields.name+"</option>");
                    });
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            })
        }
    });

    $(".signup-store-province").change(function() {
        $(".signup-store-district option").remove();
        $(".signup-store-district").append("<option value='' selected disabled hidden>Chọn Quận/Huyện</option> ");
        $(".signup-store-wards option").remove();
        $(".signup-store-wards").append("<option value='' selected disabled hidden>Chọn Xã/Phường/Thị trấn</option> ");
        var id = $(this).val();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'postProvinces' %}",
            data: {"csrfmiddlewaretoken": '{{csrf_token}}', 'type' : "2", 'data' : id},
            success: function (response) {
                var response = jQuery.parseJSON( response );
                $.each( response, function( key, value ) {
                    $(".signup-store-district").append("<option value='" + value.pk + "'>"+value.fields.name+"</option>");
                });
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

    $(".signup-store-district").change(function() {
        $(".signup-store-wards option").remove();
        $(".signup-store-wards").append("<option value='' selected disabled hidden>Chọn Xã/Phường/Thị trấn</option> ");
        
        var id = $(this).val();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'postProvinces' %}",
            data: {"csrfmiddlewaretoken": '{{csrf_token}}', 'type' : "3", 'data' : id},
            success: function (response) {
                var response = jQuery.parseJSON( response );
                $.each( response, function( key, value ) {
                    $(".signup-store-wards").append("<option value='" + value.pk + "'>"+value.fields.name+"</option>");
                });
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="{% static 'js/jquery.scrollTo.js' %}"></script>
<!-- morris JavaScript -->	

    <script src="{% static 'datepicker/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'datepicker/jquery-ui.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'datepicker/jquery-ui.css' %}" rel="Stylesheet" type="text/css" />
    

    <script>
        $( "#datepicker" ).datepicker({
            prevText:"Tháng trước",
            nextText:"Tháng sau",
            dateFormat:"yy-mm-dd",
            dayNamesMin: [ "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ nhật" ],
            duration: "slow"
        });

        $( "#datepicker2" ).datepicker({
            prevText:"Tháng trước",
            nextText:"Tháng sau",
            dateFormat:"yy-mm-dd",
            dayNamesMin: [ "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ nhật" ],
            duration: "slow"
        });

        //
        // stepper
        //

        $(document).ready(function () {
            

            var a = 1;

            var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn');

            allWells.hide();

            navListItems.click(function (e) {
                // if(a==1 || !$(this).hasClass('disabled-a')) {
                //     a=0;
                // }
                // else {
                //     return false;
                // }
                e.preventDefault();
                var $target = $($(this).attr('href')),
                        $item = $(this);
                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-primary').addClass('btn-default');
                    $item.addClass('btn-primary');
                    
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });

            allNextBtn.click(function(){
                a=1;
                var curStep = $(this).closest(".setup-content");
                var curStepBtn = curStep.attr("id");

                if(curStepBtn == "step-1") {
                    var email = $(".signup-email").val();
                    var phone1 = $(".signup-phone1").val();
                    var phone2 = $(".signup-phone2").val();

                    var checkemail = checkEmail(email);
                    var checkphone1 = checkNumberPhone(phone1);
                    var checkphone2 = checkNumberPhone(phone2);

                    if(checkemail == 0) {
                        $(".warning-email").css("display", "block");
                        $(".signup-email").focus();
                        return false;
                    }
                    else {
                        $(".warning-email").css("display", "none");
                    }

                    if (checkphone1 == 0) {
                        $(".warning-phone1").css("display", "block");
                        $(".signup-phone1").focus();
                        return false;
                    }
                    else {
                        $(".warning-phone1").css("display", "none");
                    }

                    if (phone2 === phone1) {
                        $(".warning-phone2").text("Số điện thoại 2 bị trùng với số điện thoại 1");
                        $(".warning-phone2").css("display", "block");
                        $(".signup-phone2").focus();
                        return false;
                    }
                    else {
                        $(".warning-phone1").css("display", "none");
                    }

                    if (phone2.length != 0) {
                        if(checkphone2 == 0) {
                            $(".warning-phone2").text("Số điện thoại không hợp lệ");
                            $(".warning-phone2").css("display", "block");
                            $(".signup-phone2").focus();
                            return false;
                        }
                        else {
                            $(".warning-phone2").css("display", "none");
                        }
                    }
                    else {
                        $(".warning-phone2").css("display", "none");
                    }

                }
                else if(curStepBtn == "step-2") {
                    if($('.signup-cmnd-pic-front').get(0).files.length > 0) {
                        $(".warning-pic-cmnd-1").css("display", "none");
                    }
                    else {
                        $(".warning-pic-cmnd-1").css("display", "block");
                        return false;
                    }

                    if($('.signup-cmnd-pic-back').get(0).files.length > 0) {
                        $(".warning-pic-cmnd-2").css("display", "none");            
                    }
                    else {
                        $(".warning-pic-cmnd-2").css("display", "block");
                        return false;
                    }

                    if($('.signup-cmnd-certification').get(0).files.length > 0) {
                        $(".warning-signup-cmnd-certification").css("display", "none");
                    }
                    else {
                        $(".warning-signup-cmnd-certification").css("display", "block");
                        return false;
                    }

                }
                else if(curStepBtn == "step-3") {

                }
                else if(curStepBtn == "step-4") {

                }
                else {

                }

                

                var nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a");
                var curInputs = curStep.find("input[type='text'],input[type='url']");
                var isValid = true;

                $(".form-group").removeClass("has-error");
                for(var i=0; i<curInputs.length; i++){
                    if (!curInputs[i].validity.valid){
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                    }
                }

                if (isValid)
                    nextStepWizard.removeClass('disabled-a').trigger('click');
            });

            $('div.setup-panel div a.btn-primary').trigger('click');

        });

    </script>
{% endblock %}